html {
  min-height: 100%;
  position: relative;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #963a0b !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #e87117;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
/* #title {
  margin-left: 55px;
}
#t1 {
  margin-left: 55px;
  font: bold;
  font-size: 25px;
}
#t2 {
  margin-left: 55px;
  font: bold;
  font-size: 25px;
}
#t3 {
  margin-left: 55px;
  font: bold;
  font-size: 25px;
}
#t4 {
  margin-left: 55px;
  font: bold;
  font-size: 25px;
}
#submitB {
  margin-left: 60px;
  
} */

/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

li strong {
  font-size: 18px;
  color: #333;
}

li span {
  display: block;
  margin-top: 8px;
  color: #666;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
textarea,
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

